@page
@model CurrencyExchange.Pages.Converter

@{
    ViewData["Title"] = "Converter";
}

<div class="inner-container">
    <div class="converter-div">
        <div class="converter-line">
            <ul class="line-list">
                <li class="list-element">
                    <label>From</label>
                    <div>
                        <input id="fromBox" type="text" placeholder="Type to search..."/>
                    </div>
                </li>

                <li class="list-element">
                    <label>To</label>
                    <div>
                        <input id="toBox" type="text" placeholder="Type to search..."/>
                    </div>
                </li>
            </ul>
        </div>

        <div class="converter-line">
            <ul class="line-list">
                <li class="list-element">
                    <label>Amount</label>
                    <div>
                        <input id="amountBox" type="text" placeholder="0.00"/>
                    </div>
                </li>

                <li class="list-element">
                    <button class="convertBtn">Convert</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="chart-div">

    </div>
</div>