@page
@model CurrencyExchange.Pages.Converter

@{
    ViewData["Title"] = "Converter";
}

<div class="inner-container">
    <div class="converter-div">
        <div class="converter-line">
            <form method="post" class="form">
                <ul class="line-list">
                    <li class="list-element">
                        <label>From</label>
                        <div class="input-div">
                            <input id="fromBox" type="text" placeholder="Type to search..." />
                            <select id="Currency">
                                @if (@Model.Response.ValTypes[1].Type == "Xarici valyutalar")
                                {
                                    @for (int i = 0; i < Model.Response.ValTypes[1].Valutes.Count; i++)
                                    {
                                        var item = Model.Response.ValTypes[1].Valutes;
                                        @for (int j = 0; j < @item.Count; j++)
                                        {
                                            <option>@item[j].Code</option>    
                                        }
                                         
                                    }
                                }
                               
                            </select>
                        </div>
                    </li>

                    <li class="list-element">
                        <label>To</label>
                        <div class="input-div">
                            <input id="toBox" type="text" placeholder="Type to search..."/>
                        </div>
                    </li>
                </ul>
            </form>
        </div>

        <div class="converter-line">
            <ul class="line-list">
                <li class="list-element">
                    <label>Amount</label>
                    <div class="input-div">
                        <input id="amountBox" type="text" placeholder="0.00"/>
                    </div>
                </li>
                
                
                
                <li class="list-element">
                    <button class="convertBtn">Convert</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="chart-div">

    </div>
</div>